header {
  position: relative;
  height: 340px;
  background-image: url('./assets/images/drinkscolour.jpg');
  background-size: auto;
  background-position: center top;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  display: flex;
}

header h1 {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #0f0202;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('./assets/images/atardecer-en-la-playa-con-palmas-6908.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 100vh;
  margin: 0;
  color: #f5f83d;
  font-family: Arial, sans-serif;
}

.form-label {
  font-weight: bold;
  font-size: 1.9rem;
  color: #fff241; 
  text-shadow: 1px 1px 2px rgba(179, 161, 161, 0.5); 
}

.global-carousel-image-style {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto; 
}
